<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>注册</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/vue-component.css" />
		<link rel="stylesheet" href="../css/login.css" />
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_504673_gd3o7vnlml4hd7vi.css" />
	</head>

	<body class="register-bg">

		<div class="login login-content" id="main">
			<a href="##" class="return mui-action-back">
				<i class="iconfont icon-fanhui"></i>
				返回
			</a>

			<h1 class="green">注册</h1>

			<div class="mui-input-row login-input">
				<label><i class="iconfont icon-shouji green"></i></label>
				<input type="number" placeholder="请输入手机号" v-model.trim="phone" v-validate:v1="phone">
				<oa-timer :seconds="50"></oa-timer>
			</div>
			<div class="mui-input-row login-input">
				<label><i class="iconfont icon-yanzhengma green"></i></label>
				<input type="text" placeholder="请输入验证码" v-model.trim="code" v-validate:v2="code">
			</div>
			<div class="mui-input-row login-input">
				<label><i class="iconfont icon-mima green"></i></label>
				<input type="password" placeholder="设置密码" v-model.trim="password" v-validate:v3="password">
			</div>
			<div class="mui-input-row login-input">
				<label><i class="iconfont icon-querenmima green"></i></label>
				<input type="password" placeholder="再次输入密码" v-model.trim="password2" v-validate:v4="password">
			</div>

			<p class="tips">
				8-16位，数字与字母的组合，字母区分大小写
			</p>
			
			<oa-a tag="button" url="./info-complete.html">即刻开始</oa-a>

			<p class="go-login">
				<oa-a class="green" url="./login.html" animation="slide-in-left">已有账号去登录</oa-a>
			</p>
		</div>

		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../js/base.js"></script>
		<script src="../js/vue-component.js"></script>
		<script>
			var register = new Vue({
				el: '#main',
				data:{
					phone:'',
					code:'',
					password:'',
					password2:'',
					validation:{}
				}
			})
		</script>
	</body>

</html>